@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* rgb(13, 2, 39) */
    --color-black: 13 2 39;

    /* rgb(13, 2, 39) */
    --color-background: 13 2 39;

    /* rgb(33, 33, 106) */
    --color-primary: 33 33 106;

    /* rgb(16 34 229) */
    --color-primary-light: 16 34 229;

    /* rgb(18, 18, 58) */
    --color-primary-dark: 18 18 58;

    /* rgb(20 182 105) */
    --color-secondary: 20 182 105;

    /* rgb(50 213 131) */
    --color-secondary-light: 50 213 131;

    /* rgb(4 151 83) */
    --color-secondary-dark: 4 151 83;

    /* rgb(232 240 254) */
    --color-input-background: 232 240 254;
  }
}

body,
html {
  @apply bg-background text-accent;
}
